@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;

  /* Unified Theme Colors */
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #fafafa; /* zinc-50 */
  --color-surface-tertiary: #f8f9fb;
  --color-surface-accent: #d4d4d8; /* zinc-300 */
  --color-surface-dark: #000000;

  --color-text-primary: #000000;
  --color-text-secondary: #71717a; /* zinc-500 */
  --color-text-muted: #91919e; /* zinc-400 */ 
  --color-text-inverted: #ffffff;

  --color-border-primary: #e4e4e7; /* zinc-200 */
  --color-border-secondary: #f4f4f5; /* zinc-100 */
  --color-border-tertiary: #d4d4d8; /* zinc-300 */
  --color-border-dark: #27272a; /* zinc-800 */
}

body {
  font-family: var(--font-outfit);
  background: var(--color-surface-primary);
}

.styled-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-border-primary);
  border-radius: 10px;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-secondary);
}
